.App {
	border: solid 1px lightgray;
	border-radius: 3px;
	margin: 20px auto;
	padding: 24px;
	width: 440px;
	box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 8px;
}

.App *:focus {
	outline: none;
}

input,
textarea,
select,
.radio-item label:before {
	border: 1px solid lightgray;
	border-radius: 3px;
}

.data-row {
	display: flex;
	margin: 8px 0;
}

.title-column {
	width: 150px;
}

.data-column {
	width: 100%;
}

input.data-column {
	height: 20px;
}

.data-column-choice {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.data-column-choice>* {
	margin-top: 6px;
}

.error {
	border-color: red;
	border-width: 1px;
	box-shadow: none;
}

.form-actions {
	display: flex;
	justify-content: center;
	margin: 12px 0;
}

.action-button {
	cursor: pointer;
	padding: 4px 16px;
	height: 28px;
	border-radius: 6px;
}

.submit-button {
	background: linear-gradient(0deg, rgba(70, 90, 152, 1) 7%,
			rgba(82, 123, 177, 1) 44%);
	color: white;
	margin-right: 16px;
}

.submit-button:active {
	background: linear-gradient(0deg, rgb(47, 61, 102) 7%,
			rgb(63, 95, 136) 44%);
}

.reset-button {
	background: linear-gradient(0deg, rgba(193, 193, 193, 1) 0%,
			rgba(242, 242, 242, 1) 41%);
}

.reset-button:active {
	background: linear-gradient(0deg, rgb(148, 148, 148) 0%,
			rgb(211, 211, 211) 41%);
}

.no-scroll {
	background-color: rgba(223, 223, 223, 0.87);
	border-radius: 0%;
	min-height: 100px;
	padding: 20px 15px;
	width: 410px;
	resize: none;
	box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px 0px inset;
}

.no-scroll::-webkit-scrollbar {
	display: none;
}

@media (prefers-reduced-motion: no-preference) {}